// Place all the styles related to the Categorys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_name{
  border: 1px solid #bbb;
  text-align:center;
  background-color:#2e8b57;
}

.task{
  border: 1px solid #bbb;
}