<html>
    <%= form_tag "/create", method: :get, class: "" do %>
    <%= text_field_tag :newCategory, params[:newCategory], class: "form-control" %>
      <div>
        <%= submit_tag "CreateCategory" %>
        <!-- カテゴリ一覧画面へのリンク -->
        <%= link_to "GoToCategoryPage", "/" %>
      </div>
    <% end %>
</html>
