<html>
    <%= form_tag "/category/edit/#{params[:id]}", method: :get, class: "" do %>
    <%= text_field_tag :editCategory, @category, class: "form-control" %>
      <div>
        <%= submit_tag "EditCategory" %>
        <!-- カテゴリ一覧画面へのリンク -->
        <%= link_to "GoToCategoryPage", "/" %>
      </div>
    <% end %>
</html>
